<br>
<h1 style = "font-family:verdana; text-align:center">
  Ma boy, you're on the second page of this site!
</h1>
<br>
<h2 style = "font-family:verdana; text-align:center">
  This is my very first website, please be patient. 
</h2>
<br>
<%= link_to 'Home', pages_home_path%>