<br>
<h1 style = "font-family:verdana; text-align:center">
  This is it BABY.
</h1>
<br>
<%= image_tag'Twin-Peaks.jpg'%>
<a href ="https://www.youtube.com/watch?v=aZla1ttZHaw">Is it freaky friday yet?</a>
<br>
<br>
<%= link_to 'About', pages_about_path%>